<html>
  {# load static from staticfiles #}
  <head>
    <title>The Experiment Factory</title>
    <meta charset="utf-8" />
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    {{ experiment_load | safe }}
  </head>
  <body>
    <button
      id="start_experiment_button"
      type="button"
      class="btn hidden"
      hidden
    ></button>
    <script>
      {% if require_cookie_csrf %}
       $(function() {
         <!-- {# include "experiments/serve_battery_cookie.html" #} -->
         function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
            return cookieValue;
          }

          var csrftoken = getCookie('csrftoken');

          // Worker not allowed to proceed without cookies
          if (csrftoken==undefined){
            document.location = "/cookie/"
          }

          function csrfSafeMethod(method) {
              // these HTTP methods do not require CSRF protection
              return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
          }

          $.ajaxSetup({
              beforeSend: function(xhr, settings) {
                  if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                      xhr.setRequestHeader("X-CSRFToken", csrftoken);
                  }
              }
          });
        })
        {% endif %}


          <!-- {# include "experiments/preview_battery_runjs.html" #} -->
          /* These variables will be filled in given it's an mturk experiment
            expfactory.amazon_url="{{ amazon_host }}"
            expfactory.assignmentId="{{ assignment_id }}"
            expfactory.hitId="{{ hit_id }}"
          */

          function onFinish(data) {
            var finished_message = `
              <div id="finished_message" style="margin:100px">
                  <h1>Experiment Complete</h1>
                  <p>{{ end_message }}</p>
                  <button id="next_experiment_button" type="button" class="btn btn-success">Next Experiment</button>
                  <button type="button" id="redo_experiment_button" class="btn btn-danger">Redo Experiment</button>
              </div>`;
            if (jsPsych.data.hasOwnProperty('getData')) {
              data = jsPsych.data.getData()
            } else {
              data = jsPsych.data.get().json()
            }
            let trialdata = {
              "uniqueid": "{{ uniqueId }}",
              "current_trial": 0,
              "dateTime": (new Date().getTime()),
              "trialdata": jsPsych.data.getData()
            };
            $("body").append(finished_message);
            $(".display_stage").hide();
            $(".display_stage_background").hide();
            $("#redo_experiment_button").click(() => window.location.reload())
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url : "{{ post_url }}",
                data : JSON.stringify(trialdata),
                error: (error) => { console.log(error) },
                dataType: 'text',
                success: (data) => {
                  $("#next_experiment_button").click(() => {
                    console.log("Finished!");
                    location.reload()
                  })
                }
              });
          }

          // Start experiment when participant pushes button
          $("#start_experiment_button").click(() => {
             $("#instructions_modal").hide();
             $("#bootstrap_css").remove()
              try {
              jsPsych.init({
              timeline: {{ exp_id }}_experiment,
              on_finish: onFinish
              });
              } catch {
                jsPsych = initJsPsych({on_finish: onFinish})
                {{ exp_id }}_init()
                jsPsych.run({{ exp_id }}_experiment)
             }
          });

          {% if uniqueId %}
          $("#disagree_button").click(function(){
              document.location = "{{ exp_end }}"
          });
          {% endif %}
    </script>

    <script>
      $(document).ready(function () {
        $("#start_experiment_button").click();
      });
    </script>
  </body>
</html>
