{% extends "base.html" %}
{% block content %}
{% if study_collection %}
  <div class="h2">
    Remote Studies for
    <a href="{% url 'prolific:study-collection-update' study_collection.id %}">
      {{study_colleciton.name}} (id: {{study_collection.id}})
    </a>
    <div class="battery-actions">
      <a class="btn btn-primary" href="{% url 'prolific:collection-progress' study_collection.id %}">Collection Progress</a>
      <a class="btn btn-primary" href="{% url 'prolific:add-participants' study_collection.id %}">Add Subjects to Studies</a>
      <a class="btn btn-primary" href="{% url 'prolific:create-drafts' study_collection.id %}">Create Drafts</a>
      <a class="btn btn-primary" href="{% url 'prolific:publish-drafts' study_collection.id %}">Publish Drafts</a>
    </div>
  </div>
{% elif id %}
<h2>Remote Studies for Prolific Project {{id}} ({{ studies|length }})</h2>
{% else %}
<h2>All Remote Studies ({{ studies|length }})</h2>
{% endif %}
{% for status, studies in studies_by_status.items %}
  <h3>{{ status }}</h3>
  {% for study in studies %}
  <details>
    <summary><a href="{% url 'prolific:remote-study-detail' study.id %}">{{ study.id }}</a></summary>
    <pre>{{ study|pprint }}</pre>
  </details>
  {% endfor %}
{% endfor %}
{% endblock %}
