{% extends "base.html" %}
{% block content %}
  <div class="h2">
    Study Collections
    <div class="battery-actions">
      <a class="btn btn-primary" href="{% url 'prolific:collection-create' %}">Create </a>
    </div>
  </div>

  <table class="table">
    <thead>
      <th>Name</th>
      <th>Actions</th>
      <th>Links</th>
    </thead>
    <tbody>
  {% for collection in object_list %}
    {% if collection.active %}
      <tr>
        <td>{{ collection.name }}</td>
        <td>
          <a class="btn btn-primary btn-sm" href="{% url 'prolific:study-collection-update' collection.id %}">Edit</a>
          <a class="btn btn-primary btn-sm" href="{% url 'prolific:collection-toggle' collection.id %}">Hide</a>
          {% if collection.study_set.all %}
            <a class="btn btn-danger btn-sm" href="{% url 'prolific:collection-clear-remote-ids' collection.id %}">Clear Stored Prolific IDs</a>
          {% endif %}
       </td>
       <td>
          <a href="{% url 'prolific:remote-studies-list' collection.id %}">Study Details on Prolific</a> -
          <a href="{% url 'prolific:collection-progress' collection.id %}">Collection Progress</a>
       </td>
      </tr>
      {% if collection.study_set.all %}
        <tr class="table-active">
        <td colspan="3">
        <ul>
          {% for study in collection.study_set.all %}
            <li>
              <a href="{% url 'experiments:battery-detail' study.battery.id %}">Battery {{ study.battery.id }} </a>
              Prolific ID: {% if study.remote_id == '' %} None {% else %} {{ study.remote_id }} {% endif %}
            </li>
          {% endfor %}
        </ul>
        </tr>
        {% endif %}
    {% endif %}
  {% empty %}
    <li>None</li>
  {% endfor %}
  </tbody>
  </table>
  <details>
    <summary>Hidden Collections</summary>
  <table class="table">
    <thead>
      <th>Name</th>
      <th>Actions</th>
      <th>Links</th>
    </thead>
    <tbody>
  {% for collection in object_list %}
    {% if not collection.active %}
      <tr>
        <td>{{ collection.name }}</td>
        <td>
          <a class="btn btn-primary btn-sm" href="{% url 'prolific:study-collection-update' collection.id %}">Edit</a>
          <a class="btn btn-primary btn-sm" href="{% url 'prolific:collection-toggle' collection.id %}">Show</a>
          {% if collection.study_set.all %}
            <a class="btn btn-danger btn-sm" href="{% url 'prolific:collection-clear-remote-ids' collection.id %}">Clear Stored Prolific IDs</a>
          {% endif %}
       </td>
       <td>
          <a href="{% url 'prolific:remote-studies-list' collection.id %}">Study Details on Prolific</a> -
          <a href="{% url 'prolific:collection-progress' collection.id %}">Collection Progress</a>
       </td>
      </tr>
      {% if collection.study_set.all %}
        <tr class="table-active">
        <td colspan="3">
        <ul>
          {% for study in collection.study_set.all %}
            <li>
              <a href="{% url 'experiments:battery-detail' study.battery.id %}">Battery {{ study.battery.id }} </a>
              Prolific ID: {{ study.remote_id }}
            </li>
          {% endfor %}
        </ul>
        </tr>
        {% endif %}
    {% endif %}
  {% empty %}
    <li>None</li>
  {% endfor %}
  </tbody>
  </table>

  </details>
{% endblock %}

