{% extends "base.html" %}
{% block content %}
  <div class="h2">
    Taskflow Message Forwarding List
    <div class="battery-actions">
      <a class="btn btn-primary" href="{% url 'prolific:taskflow-edit' %}">Create </a>
    </div>
  </div>
  <table class="table">
    <thead>
      <th width="33%">Taskflow</th>
      <th>Study Collections</th>
      <th></th>
    </thead>
    <tbody>
  {% for taskflow in object_list %}
      <tr>
        <td>
          {{ taskflow.taskflow_remote_id }}
        </td>
        <td>
        {% for sc in taskflow.studycollection_set.all %}
          <a href="{% url 'prolific:study-collection-update' sc.id %}">{{ sc }} </a>
        {% endfor %}
        </td>
        <td>
          <a class="btn btn-primary btn-sm" href="{% url 'prolific:taskflow-edit' taskflow.taskflow_remote_id %}">Edit</a>
          <a class="btn btn-danger btn-sm" href="{% url 'prolific:taskflow-delete' taskflow.id %}">Delete</a>
        </td>
      </tr>
  {% endfor %}
    </tbody>
  </table>
{% endblock %}
