.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.selected {
	background-color: #f9c7c8;
	border: solid red 1px !important;
	z-index: 1 !important;
}

#experimentslist > .added {
	background-color: #00ee00;
	border: solid red 1px !important;
	z-index: 1 !important;
}

#experimentslist .js-remove {
    display: none;
}

#experimentslist .input-group {
    display: none;
}

#experimentslist .order-container {
    display: none;
}

#battexpforms {
    display: none;
}

#battexplist .right-hide {
    display: none;
}

.child-battery-lists {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: .25em;
}
.tabs {
  display: flex;
  flex-wrap: wrap;
}

.radiotab {
  display: none;
}

.label {
  order: 1;
  flex-grow: 1;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: .25em;
}

.radiotab ~ .panel {
  display: none;
}

.radiotab:checked + .label + .panel {
  width: 100%;
  order: 2;
}

.use-latest-span {
  padding: .25em;
}

.battery-actions {
  float: right;
}
