{% extends base.html %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>Assignment Id</th>
            <th>Worker Id</th>
            <th>HIT Id</th>
            <th>Status</th>
            <th>AutoApprovalTime</th>
            <th>AcceptTime</th>
            <th>SubmitTime</th>
            <th>ApprovalTime</th>
            <th>RejectionTime</th>
            <th>Deadline</th>
            <th>Answer</th>
        </tr>
    </thead>
    <tbody>
        {% for assignment in assignments %}
        <tr>
            <td>{{ assignment.WorkerId }}</td>
            <td>{{ assignment.HITId }}</td>
            <td>{{ assignment.AssignmentStatus }}</td>
            <td>{{ assignment.AutoApprovalTime }}</td>
            <td>{{ assignment.AcceptTime }}</td>
            <td>{{ assignment.SubmitTime }}</td>
            <td>{{ assignment.ApprovalTime }}</td>
            <td>{{ assignment.RejectionTime }}</td>
            <td>{{ assignment.Expiration }}</td>
            <td>{{ assignment.Answer }}</td>
        </tr>

        {% endfor %}
    </tbody>
</table>
{% endblock %}